// See the material colot pallete list here https://material-ui-next.com/style/color/
@import '../../../../node_modules/sass-material-colors/sass/sass-material-colors';

// Colors
$white: #FFF;
$grey-light: #F5F5F5;
$grey: #E0E0E0;
$grey-dark: #424242;